.freeza-flavors {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.freeza-flavors .sec-header .bg-icons .ice-cube_1,
.freeza-flavors .sec-header .bg-icons .ice-cube_2 {
    position: absolute;
    width: 100px;
    z-index: -1;
}
.freeza-flavors .sec-header .bg-icons .ice-cube_1 {
    left: -30px;
    top: 120px;
    rotate: 30deg;
}
.freeza-flavors .sec-header .bg-icons .ice-cube_2 {
    right: -20px;
    top: 80px;
}
.freeza-flavors .sec-header .bg-icons .tree-leaf_1,
.freeza-flavors .sec-header .bg-icons .tree-leaf_2 {
    position: absolute;
    width: 60px;
}
.freeza-flavors .sec-header .bg-icons .tree-leaf_1 {
    left: -30px;
    top: 220px;
    rotate: 90deg;
}
.freeza-flavors .sec-header .bg-icons .tree-leaf_2 {
    right: -30px;
    top: 200px;
    rotate: -40deg;
}
.freeza-flavors .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 10px;
    gap: 20px;
}
@media (max-width: 992px) {
    .freeza-flavors .body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .freeza-flavors .body {
        padding: 30px 15px 0 15px;
        grid-template-columns: 1fr 1fr;
    }
}
.freeza-flavors .all-flavors-btn {
    margin: 15px auto 0;
    width: fit-content;
}