
.container {
    margin: 0 auto !important;
    width: 100% !important;
}
@media (max-width: 576px) {
    .container {
        max-width: 100% !important;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px !important;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

/* start freezaboom standard btn */
.freeza-btn {
    display: block;
    width: fit-content;
    color: var(--color-text);
    border-radius: 30px;
    padding: 8px 17px;
    text-transform: uppercase;
    font-size: 12px;
    border: 1.5px solid var(--color-primary);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.8s ease;
}
@media (max-width: 576px) {
    .freeza-btn {
        font-size: 10px;
    }
}
.freeza-btn:hover {
    box-shadow: 0 0 14px 2px rgb(200 241 75 / 82%),
                0 5px 18px rgb(91 214 255 / 18%);
    animation: btn-motion 3s ease-in-out infinite;
}
.freeza-btn span {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.freeza-btn-primary {
    background-color: var(--color-primary);
}
.freeza-btn::before {
    content: "";
    width: 0%;
    height: 0%;
    border-radius: 30% 60% 40% 0;
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-color: white;
    transition: 0.3s linear;
}
.freeza-btn-secondary {
    background-color: transparent;
    border-color: var(--color-primary);
}
.freeza-btn-secondary::before {
    background-color: var(--color-primary);
}
.freeza-btn:hover::before {
    width: 120%;
    height: 160%;
}
@keyframes btn-motion {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.03);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}
.footer-sec-btn {
    margin: 15px auto 0;
    width: fit-content;
}
/* end freezaboom standard btn */

/* start freezaboom flavor card */
.freeza-flavor-card {
    box-shadow: var(--silver-shadow);
    border-radius: var(--main-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: box-shadow var(--main-transition);
}
.freeza-flavor-card:hover {
    box-shadow: var(--primary-shadow);
}
.freeza-flavor-card .product-image {
    position: relative;
    overflow: hidden;
}
.freeza-flavor-card .product-image .splash-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: 0.6s;
}
.freeza-flavor-card:hover .product-image .splash-img {
    transform: translateX(-50%) scale(1.5);
    opacity: 0.5;
}
.freeza-flavor-card .product-image .ice-cube_1,
.freeza-flavor-card .product-image .ice-cube_2 {
    position: absolute;
}
.freeza-flavor-card .product-image .ice-cube_1 {
    top: 70%;
    left: 5%;
    width: 70px;
    animation-delay: 4s;
}
.freeza-flavor-card .product-image .ice-cube_2 {
    top: 40%;
    left: 65%;
    width: 50px;
    animation-delay: 2s;
}
.freeza-flavor-card .product-image .fruit-chunks_1,
.freeza-flavor-card .product-image .fruit-chunks_2 {
    position: absolute;
    width: 40px;
}
.freeza-flavor-card .product-image .fruit-chunks_1 {
    left: 15%;
    top: 40%;
    animation-delay: 1s;
}
.freeza-flavor-card .product-image .fruit-chunks_2 {
    left: 65%;
    top: 65%;
    width: 60px;
    rotate: -60deg;
    animation-delay: 3s;
}
.freeza-flavor-card .product-image .splash-img,
.freeza-flavor-card .product-image .bg-element {
    opacity: 0.7;
}
.freeza-flavor-card .product-image .bg-element {
    animation: chunks-motion 8s linear infinite both;
}
@keyframes chunks-motion {
    0% {
        transform: translate(10px, 10px) rotate(0deg);
    }
    33.3333% {
        transform: translate(10px, -10px) rotate(10deg);
    }
    66.6666% {
        transform: translate(-10px, 10px) rotate(20deg);
    }
    100% {
        transform: translate(10px, 10px) rotate(0deg);
    }
}
.freeza-flavor-card .product-image .image-holder {
    position: relative;
}
.freeza-flavor-card .product-image .image-holder img {
    max-width: 100%;
    height: auto;
}
.freeza-flavor-card .product-details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
}
.freeza-flavor-card .product-details .title {
    margin: 0 0 10px 0;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 1.3
}
.freeza-flavor-card .product-details .info {
    margin: 0 0 10px 0;
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    line-height: 1.3;
}
.freeza-flavor-card .product-details .CTA-btn {
    margin-top: auto;
}

/* end freezaboom flavor card */
/* start freezaboom section title */
.freeza-sec-header {
    text-align: center;
}
.freeza-sec-header .sub-title {
    color: var(--color-primary);
    font-weight: bold;
    text-transform: uppercase;
}
.freeza-sec-header .title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    font-size: 40px;
}
.freeza-sec-header .title span {
    color: var(--color-primary);
}
.freeza-sec-header p {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
}
/* end freezaboom section title */